html {
    background: rgb(193,0,176);
    background: linear-gradient(90deg, rgba(193,0,176,1) 0%, rgba(119,0,122,1) 29%, rgba(0,0,0,1) 100%);
    font: 15px Arial, sans-serif;
    font-size: large;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    color: rgb(255,255,255)
}

h2 {
    color: rgb(255,255,255)
}

h3 {
    color: rgb(255,255,255)
}

h4 {
    color: rgb(255,255,255)
}

h5 {
    color: rgb(255,255,255)
}

fieldset {
    color: rgb(255,255,255)
}

p {
    color: rgb(255,255,255)
}